# Xcode
CleanFeedVK.xcodeproj/
/Users/vsharavin/CleanFeedVK/CleanFeedVK.xcodeproj/project.xcworkspace/xcuserdata/vsharavin.xcuserdatad/UserInterfaceState.xcuserstate

# md files
NEW_DIALOG_MESSAGE.md
PROJECT_STATUS_ARCHIVE.md
PROJECT_STATUS.md
TECHNICAL_NOTES.md